<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.links.any? %>
      <h3>Links (<%= @user.links.count %>)</h3>
      <ol class="Links">
        <%= render @links %>
      </ol>
      <%= will_paginate @links %>
    <% end %>
  </div>
</div>